BACKEND_URL=http://localhost:5000
SHOP_ID=shop_main
PRINTER_AGENT_KEY=printspot_agent_secret_key_8899
DEFAULT_MONO_PRINTER=Microsoft Print to PDF
DEFAULT_COLOR_PRINTER=Microsoft Print to PDF
SIMULATE_PRINTING=false
